body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#InGame{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    color: #ffff00;
    display: none;
}

#EndGame{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    color: #ffff00;
    display: none;
}

#InitGame{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0px;
    text-align: center;
    font-size: 80px;
    color: #ffff00;
    /*display: none;*/
}

button{
    font-size: 30px;
}





