body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#info{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 0px;
    text-align: center;
    color: #ffff00
}

#Manhattan_hint{
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    color: #ffff00
}

#Euclidean_hint {
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
    color: #ffff00
}

#Dijkstra’s_Algorithm_hint{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: #ffff00
}