body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#hint {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffff00
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffff00
}